/OlehMatsevych.RobotChallange/bin
/OlehMatsevych.RobotChallange/obj
/OlehMatsevych.RobotChallange/obj/Debug
/OlehMatsevych.RobotChallange.Test/bin
/OlehMatsevych.RobotChallange.Test/obj
/OlehMatsevych.RobotChallange.Test/obj/Debug